<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250748476448-7ivaenv9hrmg17hcr8oqqg7jo6jk1f7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250748476448-7ivaenv9hrmg17hcr8oqqg7jo6jk1f7v</string>
	<key>API_KEY</key>
	<string>AIzaSyD3L4i6zEniZi9dPzQv5q9MboL63bQ7qwg</string>
	<key>GCM_SENDER_ID</key>
	<string>250748476448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unitbean.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-bc783</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-bc783.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250748476448:ios:6f670a2361aa9ac4e13045</string>
</dict>
</plist>